
.children-menu {
  
  margin-top: $colPadding / 2;
  margin-bottom: -$colPadding / 2;
  
  li {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;  
  }
  
  a {
    display: block;
    color: $white;
    @include interfaceAnchor; 
    text-transform: uppercase;
    border: 1px solid $white;
    padding: $colPadding / 4;
    @extend .tiny-text;
  }
}

.breadcrumbs {
  
  li {
    display: inline-block;
      
    &:after {
      margin: 0 0.2em 0 0.2em;
      font-size: 12px;
      @extend .iconArrowRight;
    }
  }
  
  a {
    color: $white;    
    @include interfaceAnchor();
  }
  
}