@charset "utf-8";

.popup-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  background: $popupOverlay;
}

.popup {
  z-index: 9999;
  position: fixed;
  top: 50%;
  @include transform(translateY(-50%));
  left: $colPadding;
  right: $colPadding;
  bottom: $colPadding; 
}
